html, 
container{
  border: 1px solid #;
  padding: 10px;
font-family: "Sofia", Sans-Serif;
  font-weight: 400;
  font-style: normals;
}

h1 {background-color: #ADD9F5;
color: #FFFFFF;
  border: 1px solid #C8EBC5;
  padding: 25px;
text-align: center;
text-shadow: 3px 3px 3px #ababab;
}

h2 {
color: #FFFFFF;
text-align: center;
}

.Pages {
  text-align: center;
}

h3 {
font-weight: 500;
text-align: center}

.project_intro {
  padding: 10%;
}
h4{ text-align: center;

.links {
text-align: center;
}

address {
  text-align: center;
}
  
