/* Gonzalez_Mod6_2.css */
html,
container {
	background-image: url("https://www.photoprintingpros.com/cdn/shop/products/4179.jpg?v=1558641967");
  background-size: 150%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px;
margin-top: 50px;
margin-left:100px;
margin-right:100px;
font-family: "Sofia", Sans-Serif;}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

h1 {
color: #FFFFFF;
  padding: 10px;
  text-align: center;
text-shadow: 3px 3px 3px #ababab;
}

img {
  width: 300px;
  height: auto; /* Maintain aspect ratio */
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
float: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h2 {background-color: #B0EBD6;
color: #353839;
  border: 1px solid #D6A800;
  padding: 10px;
}

h3 {
background-color: #ffb7c5;
color: #353839;
  border: 1px solid;
  padding: 10px;
}

h4 {background-color: #ffddca;
color: #353839;
  border: 1px solid #D6A800;
  padding: 10px;
}

a {
  color: #0a7e8c;
  text-decoration: none;
}

a:hover {
color: #d470a2;
}

a:visited {
color: #aa98a9;
}

header {
    background-color: #BOEBD6;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

.navbar {
    overflow: hidden;
    background-color: #d470a2;
    border-bottom: 15px solid #f2f2f2;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.container div {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 85%;
    background: #FFFFFF;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #333;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}
.footer {
	align: center;
    background-color: #C8EBC5;
    bottom: 0;
    width: 85%;
}

footer p {
    color: white;
    font-weight: 400;
    float: right; 
   ; 
    font-style :italic; 
}

footer a {
   text-decoration :none; 
   color :white; 
}

footer a:hover {
   text-decoration :underline; 
}
a:visited {
  background-color: cyan;
}

a:hover {
  background-color: lightgreen;
}

a:active {
  background-color: hotpink;
